.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}
.header-start {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  height: 20px;
  width: 90px;
  position: relative;
  margin-left: 20px;
}
#youtube-paths_yt6 path {
  fill: #fff;
}
#country-code {
  font-family: Roboto, Arial, sans-serif;
  position: absolute;
  top: -5px;
  right: -15px;
  color: #aaa;
  font-size: 9px;
  font-weight: 600;
}
.header-collapse {
  padding: 8px;
}
.header-collapse svg {
  fill: #fff;
}

.header-search {
  display: flex;
  align-items: center;
  height: 40px;
}
.search-bar {
  height: 38px;
  background-color: hsl(0, 0%, 7%);
  border: 1px solid hsl(0, 0%, 18.82%);
  border-right: none;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0);
  caret-color: #f1f1f1;
  color: hsla(0, 100%, 100%, 0.88);
  padding: 0 4px 0 16px;
  margin-left: 32px;
  flex: 1;
  flex-basis: 0.000000001px;
  display: flexbox;
  display: flex;
  flex-direction: row;
  width: 536px;
  outline: none;
}
.search-button {
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button svg {
  width: 24px !important;
  height: 24px !important;
  color: #fff;
}
.search-voice {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  margin-left: 12px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-voice svg {
  height: 24px !important;
  width: 24px !important;
}
.profile-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0px 18px 0px 20px;
  cursor: pointer;
}
.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-bell {
  margin: 0px 12px;
}
