<div class="main-content-container">
  <div class="videos-tag">
    <div class="videos-tag-box video-tag-active">All</div>
    <div class="videos-tag-box">Music</div>
    <div class="videos-tag-box">Shorts</div>
    <div class="videos-tag-box">Films</div>
    <div class="videos-tag-box">Hollywood</div>
    <div class="videos-tag-box">Bollywood</div>
    <div class="videos-tag-box">Jg Series</div>
    <div class="videos-tag-box">Lahore</div>
  </div>
  <div class="videos-data">
    <div class="video-data-box">
      <div>
        <div class="video-thumbnail"></div>
        <div class="video-content">
          <div class="video-profile">
            <div class="video-profile-img">
              <img
                src="https://yt3.ggpht.com/tjze3UFu2mo6EmIp_Fn5lL8wf4nXTiAbYYG-hRdWtLbtzLeGYObyyjughDK6yQ5AQfBTP7rDZQ=s88-c-k-c0x00ffffff-no-rj"
                alt=""
              />
            </div>
          </div>
          <div class="video-content-detail">
            <div class="video-title">72 Hours in Lahore</div>
            <div class="video-channel-wrap">
              <div class="video-channel">72 Hours in Lahore</div>
              <div class="video-autharize">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  focusable="false"
                  style="
                    pointer-events: none;
                    display: inherit;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <path
                    d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM9.8 17.3l-4.2-4.1L7 11.8l2.8 2.7L17 7.4l1.4 1.4-8.6 8.5z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="video-analytics">
              <div class="video-views">1.8M Views</div>
              <span>.</span>
              <div class="video-date">7 month ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-data-box">
      <div>
        <div class="video-thumbnail"></div>
        <div class="video-content">
          <div class="video-profile">
            <div class="video-profile-img">
              <img
                src="https://yt3.ggpht.com/tjze3UFu2mo6EmIp_Fn5lL8wf4nXTiAbYYG-hRdWtLbtzLeGYObyyjughDK6yQ5AQfBTP7rDZQ=s88-c-k-c0x00ffffff-no-rj"
                alt=""
              />
            </div>
          </div>
          <div class="video-content-detail">
            <div class="video-title">72 Hours in Lahore</div>
            <div class="video-channel-wrap">
              <div class="video-channel">72 Hours in Lahore</div>
              <div class="video-autharize">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  focusable="false"
                  style="
                    pointer-events: none;
                    display: inherit;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <path
                    d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM9.8 17.3l-4.2-4.1L7 11.8l2.8 2.7L17 7.4l1.4 1.4-8.6 8.5z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="video-analytics">
              <div class="video-views">1.8M Views</div>
              <span>.</span>
              <div class="video-date">7 month ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-data-box">
      <div>
        <div class="video-thumbnail"></div>
        <div class="video-content">
          <div class="video-profile">
            <div class="video-profile-img">
              <img
                src="https://yt3.ggpht.com/tjze3UFu2mo6EmIp_Fn5lL8wf4nXTiAbYYG-hRdWtLbtzLeGYObyyjughDK6yQ5AQfBTP7rDZQ=s88-c-k-c0x00ffffff-no-rj"
                alt=""
              />
            </div>
          </div>
          <div class="video-content-detail">
            <div class="video-title">72 Hours in Lahore</div>
            <div class="video-channel-wrap">
              <div class="video-channel">72 Hours in Lahore</div>
              <div class="video-autharize">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  focusable="false"
                  style="
                    pointer-events: none;
                    display: inherit;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <path
                    d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM9.8 17.3l-4.2-4.1L7 11.8l2.8 2.7L17 7.4l1.4 1.4-8.6 8.5z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="video-analytics">
              <div class="video-views">1.8M Views</div>
              <span>.</span>
              <div class="video-date">7 month ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-data-box">
      <div>
        <div class="video-thumbnail"></div>
        <div class="video-content">
          <div class="video-profile">
            <div class="video-profile-img">
              <img
                src="https://yt3.ggpht.com/tjze3UFu2mo6EmIp_Fn5lL8wf4nXTiAbYYG-hRdWtLbtzLeGYObyyjughDK6yQ5AQfBTP7rDZQ=s88-c-k-c0x00ffffff-no-rj"
                alt=""
              />
            </div>
          </div>
          <div class="video-content-detail">
            <div class="video-title">72 Hours in Lahore</div>
            <div class="video-channel-wrap">
              <div class="video-channel">72 Hours in Lahore</div>
              <div class="video-autharize">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  focusable="false"
                  style="
                    pointer-events: none;
                    display: inherit;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <path
                    d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM9.8 17.3l-4.2-4.1L7 11.8l2.8 2.7L17 7.4l1.4 1.4-8.6 8.5z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="video-analytics">
              <div class="video-views">1.8M Views</div>
              <span>.</span>
              <div class="video-date">7 month ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
